

header {
  padding: 154px 0 100px;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

section {
  padding: 3%;
}

footer{
  background-color: #343a40;
  padding-top: 1.5%;
  padding-bottom: 0.8%;
  text-align: center;
  color: white;
}


@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.portfolio-item {
    margin-bottom: 30px;
}

.pagination {
    margin-bottom: 30px;
}

.row{
    padding-top: 10%;
}